// color
$blue-color: #8ddef5;
$white-color: #fafbfd;
$black-color: #000;
$dark-color: #2d2e2d;
$grey-color: #555;
$blues-color: #4dbeff;
$yellow_btc-color: #f7931a;
$yellow-color: #ffd700;
$yellow_btc2-color: #f7b51a;
$green-soft: #52c41a;
$red-soft: #f5222d;
$green-softs: #a6e3a1;
$red-softs: #f6a5a5;
$youtube-red: #ff0000;
$youtube-red-soft: #ff4d4d;
$solana-green-dark: #00955e;
$solana-green-soft: #66ffcc;
$price-up-color: #00ffa3; // Solana style
$price-down-color: #ff4d4d; // YouTube soft red

// border

$border-radius: 0.7rem;

//sizes

$hamburger-icon: 30px;

$menu-font-size-desktop: 1.3rem;

//mixins
@mixin box-shadow() {
  -webkit-box-shadow: -2px 6px 8px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: -2px 6px 8px -9px rgba(66, 68, 90, 1);
  box-shadow: -2px 6px 8px -9px rgba(66, 68, 90, 1);
}
@mixin menuItem() {
  font-size: 1.7rem;
  margin: 1rem 0;
  cursor: pointer;
  color: $dark-color;
}

@mixin fonts($weight) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin container() {
  background-color: $white-color;
  margin: 0 120px;
}

@mixin d-flex-column() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin d-flex-row() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

//breakepoints

$tablet: 700px;
$small-desktop: 1024px;
